{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% load comments %}
{% block content %}
    <article class="media content-section" style="height: 600px; background-color: #fff; border-color: #000;">
    <div style="display: flex; flex-direction: column; width: 100%; ">
        <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between;">
            <h2 class="article-title" style="color: #000; margin-bottom: 15px; display: inline-block;">{{ object.title }}</h2>
            <small style="display: inline-block; margin-top: 10px; color: #676767;">{{ object.date_posted|date:"F d, Y" }}</small>
        </div>
        <div class="media-body" style="margin-bottom: 20px;">
            <img class="rounded article-img" src="{{ object.author.profile.image.url }}" style="width: 40px; height: 40px; margin-right: 5px;">
            <a class="mr-2" href="#" style="text-transform: uppercase; text-decoration: underline; color: #ff7300; text-shadow: 2px 2px #0001;">{{ object.author }}</a>
        </div>
        <div class="article-metadata" style="border-bottom: 1px, solid #f4511e;"> 
            {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <p class="article-content">{{ object.content }}</p>
    </div>
    </article>
        <p class = 'lead'>Comments</p>
        <div class="media-body" style="margin-bottom: 20px;">
        <!-- {% render_comment_list for post %} -->
        {% get_comment_list for post as comments %}
        {% for comment in comments %}
        <article class="media content-section" style="background-color: #fff; border-color: #000;">
            <div style="display: flex; flex-direction: column; width: 100%; ">
                <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between;">
                    <div class="media-body" style="margin-bottom: 20px;">
                        <img class="rounded article-img" src="{{ comment.user.profile.image.url }}" style="width: 40px; height: 40px; margin-right: 5px;">
                        <a class="mr-2" href="#" style="text-transform: uppercase; text-decoration: none; color: #ff7300; text-shadow: 2px 2px #0001;">{{ comment.user_name }}</a>
                    </div>
                    <small style="display: inline-block; margin-top: 10px; color: #676767;">{{ comment.submit_date}}</small>
                </div>
                <div class="article-metadata" style="border-bottom: 1px, solid #f4511e;"></div>
                <p class="article-content">{{ comment.comment }}</p>   
            </div>
        </article>
        {% endfor %}

    </div>

        <div>
        <!-- {% render_comment_form for post %} -->
        {% if user.is_authenticated %}
            {% get_comment_form for post as form %}

            <form action="{% comment_form_target %}" method="POST">
            {% csrf_token %}
            {{ form.comment }}
            {{ form.honeypot }}
            <style>
                #id_honeypot {
                    display: none;
                    }
            </style>
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <input type="hidden" name="next" value="{% url 'post-detail' post.id %}" />
            <input type="submit" value="Add comment" id="id_submit" />
            </form>
        {% else %}
            <p>Please <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
        {% endif %}
    </div>

{% endblock content %}