

{% extends "forum/base.html" %}
{% block content %}
<article class="media content-section">
    <div style="display: flex; flex-direction: column; width: 100%; ">
        <h1 class="article-title">About us</h1>
        <p class="article-content">Norges gamere skriker etter et forum for å dele tanker og erfaringer. Deres bønner har blitt hørt. Det nye AFK-forumet er skreddersydd for den norske gamer. På AFK-forum skal gamere kunne opprette tråder under emner for å diskutere alt fra spill til konsoller. Alle kan kommentere og vurdere hverandres tråder og kommentarer. På AFK-forumet er det mulig å opprette egen profil, hvor man kan fylle ut informasjon om seg selv, og hvilke spill man liker, osv. I tillegg kan man legge til venner og diskutere privat I chattesystemet. Her skal man også kunne få spennende tilbud og informasjon fra spillselskaper.</p>
    </div>
</article>
{% endblock content %}

